.body{
  background-image: url("./images/background1.gif");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
}
.h1{
  margin: 0 auto;
  width: fit-content;
  color: #ffffff;
  font-family: Georgia  
}
.mainContiner{
  position: relative;
  top: 100px;
  height: fit-content;
}
.characterGrid{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 400px;
  max-width: 90vw;
  height: 28px;
  max-height: 5vh;
  background-color: rgba(199, 222, 222, 0.54);
  border-radius: 8px;
  margin: 10px auto;
  border: solid black 1px;
  cursor: pointer;
}

.characterGrid .tooltip{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  position: absolute;
  right: 50px;
  top:5rem;
  background-color: rgba(0, 0, 0, 0.519);
  margin: 0;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  color: #ffffff;
}
@media (min-width: 1200px){
.characterGrid:hover .tooltip{
  visibility: visible;
    
  }
}
.buttonContainer{
  display: flex;
  width: auto;
  margin: 10px auto 0 auto;
}
.btn_div{
  background-image: url("../buttons/images/redbtn.png");
  background-repeat: round;
  width: 11rem;
  height: 4rem;
  margin: 0 auto;
  cursor: pointer;
}
.btn{
  background-color: #ffffff00;
  border-width: 0;
  position: relative;
  top: -19px;
  left: 21px;
  color: #292826;
  width: 139px;
  height: 26px;
  z-index: -1;
}
.btn_div:hover .btn {
  -webkit-box-shadow: 0px 0px 24px 5px rgba(255,198,4,0.68); 
  box-shadow: 3px 3px 30px 7px rgba(255,198,4,0.68);
  color: #f7c500;
}
.btn_div:hover .p{
  color: #f7c500;
}
.p{
  position: relative;
  top: 17px;
  color: #e7e2e2;
}
.charItemSelected{
  background-color: #f7c500;
  box-shadow: 0px 0px 10px 3px #000000;
}
.itemValue{
  height: fit-content;
}
.values{
  display: flex;
    width: inherit;
    justify-content: space-around;
    padding: 7px 0px 0px 0px;
}
.sessionInfo{
  display: flex;
}
.mainInfo{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-content: center;
  width: 300px;
  position: relative;
  left: 53px;
  bottom: 16px;
}
.infoH1{
  position: relative;
  bottom: 16px;
  right: -18px;
}
.infoVal{
  margin: 10px;
}
.infoTop{
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  bottom: 22px;
}
.infoMiddle{
  width: 300px;
}
.infoBottom{
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-around;
}