.body{
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
}
.body_{
  background-color: aliceblue;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.actionContainer{
  background-image: url("./images/shelf.png");
  background-repeat: round;
  background-size: cover;
  overflow: hidden;
  width: 45vw;
  height: 80vh;
  margin: 3vh auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.potionCon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 12vh 5vw 1vh 4vw;
  height: 77%;
}
.actionContainer_{
  display: flex;
  position: absolute;
  bottom: 28px;
  left: 25%;
  width: 50%;
  height: 87%;
  background-image: url("./images/shelf.png");
  background-repeat: round;
  background-size: cover;
  flex-direction: column;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  z-index: 20;
}
.actCon{
  width: fit-content;
  
}

.actionBox{
  background-repeat: round;
  margin: auto;
  cursor: pointer;
}
.actionBox:hover{
  filter: drop-shadow(1px 0px 10px rgb(238, 180, 21));
}

.gray{
  background-repeat: round;
  filter: grayscale(78%);
  margin: auto;
  cursor: no-drop;
}

.h1{
  font-size: 1rem;
  position: relative;
  top: 4vh;
}
.HP{
  background-image: url("./images/health.png");
  height: 9vh !important;
}
.maxHP{
  background-image: url("./images/maxHealth.png");
}
.luck{
  background-image: url("./images/luck.png");
}
.ATK{
  background-image: url("./images/attackPotion.png");
}
.potionItem{
  width: 10vw;
  height: 14vh;
}
.potion{
  width: 4vw;
  height: 8vh;
  margin-top: 7vh;
}
.btnCon{
  width: 20vw;
  position: absolute;
  top: 75vh;
  right: 7vw;
}
.btnCon p{
  top: 20px
}
.btnCon div{ 
  top: -21px;
  left: 17px;
 } /*important to fix the div inside the Button component */

 @media (max-width: 500px){
    .potionItem{
      width: 21vw;
      height: 12vh;
    }
    .potion{
      width: 13vw;
      height: 7vh;
      margin-top: 1vh;
    }
    .btnCon{
      width: 20vw;
      position: absolute;
      top: 70vh;
      right: 50vw;
    }
      .potionCon{
      margin: 5vh 5vw 1vh 4vw;
      height: 77%;
    }
    .actionContainer{
      width: 80vw;
      height: 50vh;
    }
  }