# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/server/.pnp
/server/.pnp.js

/front-end/node_modules
/front-end/.pnp
/front-end/.pnp.js


# testing
/server/coverage

/front-end/coverage

# production
/server//build

/front-end//build

# misc
/server/.DS_Store
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local
/server/.env

/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
/front-end/.env

npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

/front-end/yarn-debug.log*
/front-end/yarn-error.log*
