.imgCon{
  width: 48px;
  height: 48px; 
  overflow: hidden;
  transform: scale(3);
}
@keyframes moveHero1 {
  from {left: 10%; top:75%}
  to {left: 43%; top:35%}
}
@keyframes moveHero2 {
  from {left: 10%; top:75%}
  to {left: 58%; top:43%}
}
@keyframes moveHero3 {
  from {left: 10%; top:75%}
  to {left: 70%; top:54%}
}
@keyframes moveHero4 {
  from {left: 10%; top:75%}
  to {left: 44%; top:54%}
}
.con{
  position: absolute;
  left: 10%;
  top:75%;
  z-index: 10;
}

.move1{
  animation-name: moveHero1;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
}

.move2{
  animation-name: moveHero2;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
}
.move3{
  animation-name: moveHero3;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
}
.move4{
  animation-name: moveHero4;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
}

.speedx120{
  animation-duration: 2160ms;
}

.speedx90{
  animation-duration: 1620ms;
}

.speedx60{
  animation-duration: 1080ms;
}
.speedx30{
  animation-duration: 540ms;
}