.imgCon{
  width: 48px;
  height: 48px; 
  overflow: hidden;
  transform: scale(3);
}
@keyframes moveHero1 {
  from {left: 10%; top:75%}
  to {left: 50%; top:55%}
}
@keyframes moveHero2 {
  from {left: 10%; top:75%}
  to {left: 45%; top:50%}
}
.con{
  position: absolute;
  left: 10%;
  top:75%
}

.move1{
  animation-name: moveHero1;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}

.move2{
  animation-name: moveHero2;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}