.imgCon{
  width: 48px;
  height: 48px; 
  overflow: hidden;
  transform: scale(3);
}
.imgCon_selected{
  width: 48px;
  height: 48px; 
  overflow: hidden;
  transform: scale(3);
  filter: drop-shadow(1px 0px 2px rgb(184, 1, 1))
}
@keyframes moveMonster1 {
  from {left: 50%; top:55%}
  to {left: 10%; top:75%}
}
@keyframes moveMonster2 {
  from {left: 55%; top:55%}
  to {left: 10%; top:75%}
}
.index0{
  position: absolute;
  left: 55%;
  top:39%
}
.index1{
  position: absolute;
  left: 63%;
  top:47%
}
.index2{
  position: absolute;
  left: 73%;
  top:54%
}
.index3{
  position: absolute;
  left: 50%;
  top:50%
}
.move1{
  animation-name: moveMonster1;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}

.move2{
  animation-name: moveMonster2;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}