.imgCon{
  width: 48px;
  height: 48px; 
  overflow: hidden;
  transform: scale(3);

}
.imgHover{

}

.imgHover :hover{
  width: 48px;
  height: 48px; 
  overflow: hidden;
  transform: scale(3);
  filter: drop-shadow(1px 0px 2px rgb(184, 1, 1));

}
@keyframes moveMonster1 {
  from {left: 46%; top:35%}
  to {left: 10%; top:75%}
}
@keyframes moveMonster2 {
  from {left: 63%; top:43%}
  to {left: 10%; top:75%}
}
@keyframes moveMonster3 {
  from {left: 73%; top:54%}
  to {left: 10%; top:75%}
}
@keyframes moveMonster4 {
  from {left: 47%; top:54%}
  to {left: 10%; top:75%}
}
.index0{
  position: absolute;
  left: 46%;
  top:35%
}
.index1{
  position: absolute;
  left: 63%;
  top:43%
}
.index2{
  position: absolute;
  left: 73%;
  top:54%
}
.index3{
  position: absolute;
  left: 47%;
  top:54%
}
.move0{
  animation-name: moveMonster1;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}

.move1{
  animation-name: moveMonster2;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}

.move2{
  animation-name: moveMonster3;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}

.move3{
  animation-name: moveMonster4;
  animation-timing-function: cubic-bezier(0.610, 1.130, 0.000, 1.000);
  animation-duration: 2160ms;
}

.barCon{
  position: absolute;
  width: 200%;
  top: -20px;
}