.body{
  text-align: center;
}
.characterGrid{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 400px;
  background-color: azure;
  border-radius: 8px;
  margin: 10px auto;
  border: solid black 1px;
}
.characterGrid .tooltip{
  visibility: hidden;
  position: absolute;
  right: 50px;
  background-color: rgba(0, 0, 0, 0.519);
  margin: 0;
  width: 300px;
  height: 300px;
  border-radius: 8px;
}
.characterGrid:hover .tooltip{
  visibility: visible;
}
