
.actionContainer{
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 20%;
  width: 75%;
  height: 11vh;
  background-color: rgb(127 116 116 / 73%);
  flex-direction: row-reverse;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
.actionBox{
  width: 100px;
  height: 70px;
  border-radius: 50%;
  background-repeat: round;
  cursor: pointer;
}
.actionBox h1{
  font-size: 19px;
  position: relative;
  top: 33px;
}
.gray{
  filter: grayscale(78%);
}
.gray h1{
  font-size: 19px;
  position: relative;
  top: 12px;
  color: #fffcfc;
}
.attack{
  background-image: url("./images/attackIcon.png");
}
.attackAll{
  background-image: url("./images/attackAllIcon.png");
}
.thieve{
  background-image: url("./images/thieve.png");
  width: 70px;
  height: 54px;
  margin-top: 5px;
}
@media (max-height: 550px){
  .actionContainer{
    height: 17vh;
  }
}