.background{
  background-image: url("./images/backgrond3.gif");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.charBox{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(240, 248, 255, 0);
}
.charBox:hover{
  box-shadow: 1px 1px 20px 11px #ffffff;
}
.charBox_select{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(240, 248, 255, 0);
  box-shadow: inset 0 0 50px 8px  #b3a41d;
}
.charBox_label{
  color: #ffffff;
  font-family: Georgia  
}
.raceList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}
.h1{
  margin: 0 auto;
  width: fit-content;
  color: #ffffff;
  font-family: Georgia  
}
.mainContiner{
  position: relative;
  top: 100px;
  height: fit-content;
}
.grid{
  position: absolute;
  top: 230px;
  right: 42%;
}
.push{
  background-color: #1d33a000;
  cursor: pointer;
  position: relative;
  z-index: 4;
  top: -45px;
  width: 150px;
  height: 31px;
  border: solid 0;
}

.btn_div{
  background-image: url("./images/blackbtn.png");
  background-repeat: round;
  width: 11rem;
  height: 4rem;
  margin: 0 auto;
  position: relative;
  top: 140px;
}
.btn{
  background-color: #ecf01900;
  border-width: 0;
  position: relative;
  top: 15px;
  font-size: initial;
  width: 144px;
  height: 25px;
  top: -22px;
  left: 16px;
  z-index: -1;
}
.p{
  color: #e7e2e2;
  position: relative;
  top: 20px;
}
.btn_div:hover .btn{
  box-shadow: 3px 3px 30px 7px rgba(255,198,4,0.68);
}
.btn_div:hover .p{
  color: #f7c500;
}
