.main{
    background-color: aqua;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}
.tab{
    height: 100%;
    width: 100px;
    /* background: aquamarine; */
    border: 10px solid;
    border-image: url(./image/btn_haeding.png);
    border-image-slice: 120;
}
.tab_hidden{
    height: 100%;
    width: 100px;
    display: hidden
}

.tab p{
    padding: 11px;
    margin: 0;
}
.bottom_border{
}