.background{
    background-image: url(../images/PNG/game_background_4/game_background_4.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}